@import "./typography";
@import "./layout";

@media print {

    .cv-cover {
        margin: 0px;
    }

    .cv-cover-left-column {
        padding-left: 0px;
    }

    .cv-cover-right-column {
        padding-right: 0px;
    }

    .cv-cover-right-column-header {
        margin-left: -10.3657px; // Fix small white gap in print
        padding-left: 10.3657px; // Undo the above print correction to align the content propertly.
    }

}

.header {
    flex: 0 0 45mm;
    padding-top: 1rem;
}

.cv-cover {
    @extend .flex;

    margin-bottom: 0px;

    .left-content-margin {
        padding-left: 1rem;
    }

    .right-content-margin {
        padding-right: 1rem;
    }

    .left-flex-column {
        flex: 0 0 8rem;
    }
}

.cv-cover-left-column {
    @extend .layout-column;

    padding-right: 0;
}

.cv-cover-left-column-header {
    @extend .header;
}

.cv-cover-left-column-header__name {
    @extend .display-1;

    margin: 0px;
}

.cv-cover-left-column-header__position {
    @extend .body-1;
}

.cv-cover-left-column-content {
    @extend .layout-column;
    @extend .flex;
}

.cv-cover-left-column-content__picture {
    width: 150px;
    height: 150px;
    margin-top: -75px;
    margin-bottom: 1rem;
}

.cv-cover-left-column-content__introduction {
    @extend .body-1;

    padding: 0 1rem;
}

.cv-cover-right-column {
    @extend .layout-column;

    padding-left: 0;
}

.cv-cover-right-column-header {
    @extend .header;
}

.cv-cover-right-column-content {
    @extend .flex;

    padding: 0;
}

.cv-cover-right-column-contact {
    padding-left: 1rem;
}

.cv-cover-right-column-contact-item {
    margin-bottom: 1rem;
}

.cv-cover-right-column-contact-item__value {
    margin-left: 1rem;
}
