.subhead {
    font-weight: 400;
    letter-spacing: 0.01em;
    font-size: 16px;
    line-height: 24px;
}
.display-1 {
    font-size: 34px;
    font-weight: 400;
    line-height: 40px;
}
.display-2 {
    font-size: 45px;
    font-weight: 400;
    line-height: 64px;
}
.title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.005em;
}
.headline {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}
.caption {
    font-size: 12px;
    letter-spacing: 0.02em;
}
.body-1 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.01em;
}
